@model DTO.DTOEntity.MessageDTO
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<div class="contact">
	<div class="container">
		<h3>Contact Us</h3>
		@await Component.InvokeAsync("ContactList")
		<div class="col-md-9 col-sm-9 contact-right">
			<form method="post">
				<input type="text" asp-for="Name" placeholder="Your name" required=" ">
				<input type="text" asp-for="Gmail" placeholder="Your email" required=" ">
				<textarea asp-for="Text" placeholder="Your message" required=" "></textarea>
				<input type="submit" value="Send message">
			</form>
		</div>
	</div>
</div>
@await Component.InvokeAsync("MapList")



