
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<partial name="~/Views/Partials/HeadPartial.cshtml">

    <body>


        <partial name="~/Views/Partials/NavbarPartial.cshtml">

                @RenderBody()
                <partial name="~/Views/Partials/FooterPartial.cshtml">
                    <partial name="~/Views/Partials/ScriptPartial.cshtml">
    </body>
</html>
