<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>FASHION <span>CLUB</span></h3>
		<p>Suspendisse sed tellus id libero pretium interdum. Suspendisse potenti. Quisque consectetur elit sit amet vehicula tristique. </p>
		<a asp-controller="About" asp-action="Index">Read More</a>
	</div>
</div>
