<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grids fgd1">
			<a asp-controller="Default" asp-action="Index"><img src="~/Tema/images/logo2.png" alt=" " /><h3>UCUZ.COM</h3></a>
			@await Component.InvokeAsync("AddressList")
		</div>
		<div class="col-md-3 footer-grids fgd2">
			<h4>Information</h4>
			<ul>
				<li><a asp-controller="Contact" asp-action="Add">Contact Us</a></li>
				<li><a asp-controller="About" asp-action="Index">About</a></li>
				<li><a href="#">Typography</a></li>
				<li><a href="#">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd3">
			<h4>Shop</h4>
			<ul>
				<li><a asp-controller="Search" asp-action="Index">Men`s</a></li>
				<li><a asp-controller="Search" asp-action="Index">Women`s</a></li>
				<li><a asp-controller="Search" asp-action="Index">Kid`s</a></li>
				<li><a asp-controller="Search" asp-action="Index">Sport`s</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4>
			<ul>

				<li><a asp-controller="Login" asp-action="SignIn">Login</a></li>
				<li><a asp-controller="Login" asp-action="SignUp">Register</a></li>
				<li><a href="#">Recommended </a></li>
				<li><a href="#">Payments</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">© @DateTime.Now.Year Ucuz.com. All rights reserved | Design by <a href="https://github.com/ArizCefDev"> Ariz Ceferli.</a></p>
	</div>
</div>